.custom-scroll {
    padding: 25px 20px;
    border: 1px solid #e9d3d3;
    margin: 45px 0px;
    background-color: #f9f6f0;
    max-height: 450px;
    overflow-y: scroll;
}
.custom-scroll::after {
    content: "";
    display: table;
    clear: both;
}
.chat-row.msg-sender-li {
    word-break: break-all;
    background-color: #b8e1f3;
    list-style: none;
    width: 550px;
    float: right;
    padding: 10px 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;

}
.chat-row.msg-sender {
    margin: 8px 0px;
    list-style: none;
}
.chat-row.msg-sender::after {
    content: "";
    display: table;
    clear: both;
}
.chat-row.msg-receiver-li {
    word-break: break-all;
    text-align: left;
    background-color: #e0efcc;
    list-style: none;
    width: 550px;
    padding: 10px 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;

}
.chat-row.msg-receiver {
    margin: 8px 0px;
    list-style: none;
}

.reply-date {
    color: #6e6e6e;
    font-size: 10px;
    width: auto;
    display: block;
    padding: 5px 0px;
}

.chat-cust-details {
    width: 50%;
    display: inline-block;
    height: 80px;
}

.chat-cust-content {
    width: 49%;
    display: inline-block;
    height: 80px;
    vertical-align: top;
}
.select-section {
    height: 25px;
    margin-bottom: 15px;
}
.select-section span {
    background-color: #333;
    padding: 5px 15px;
}
.select-section a{
    color: #fff !important;
}
.back-link a {
    padding: 10px 25px;
    background-color: #333;
    color: #fff !important;
}
.back-link input{
    color: #fff;
    background-color: #e85d22;
    border: 0px;
    padding: 10px 25px;
}
.back-link {
    margin-top: 10px;
    height: 20px;
}
.ced-message-box {
    width: 100%;
    border: 0px;
    outline: 2px #8c8383 dotted;
    padding: 6px;
    height: 200px;
}
/*===custom work==*/
.send_mail_wrapper {
    margin: 15px 0px;
}
.msg-from .reply-from {
    font-weight: bold;
}
.compose-box-wrapper .cv-subject-wrapper input {
    background: #ffffff;
    border: 1px solid #c2c2c2;
    border-radius: 1px;
    height: 32px;
    padding: 0 9px;
    width: 100%;
    margin-bottom: 30px;
}
.chat-row.msg-receiver-li img {
    margin: 3px 0px;
}
.chat-row.msg-sender-li img {
    margin: 3px 0px;
}
/*===custom work finish==*/
